http协议缓存工作过程

![image](https://user-images.githubusercontent.com/3634890/42124881-ed4cdbb8-7c9d-11e8-90e4-1177e4cb800a.png)


Etag vs Last-Modified
这两个功能比较相近, 关注点有所不同, Last-Modified主要关注的是基于时间的更改, Etag关注的则是请求的内容.
之前有看到有的同学提到etag的优先级高于Last-Modified, 但实际在http官方文档里并没有找到这个说明, 反到是看到如下说明
```
If both an entity tag and a Last-Modified value have been
provided by the origin server, SHOULD use both validators in
cache-conditional requests. This allows both HTTP/1.0 and
HTTP/1.1 caches to respond appropriately.
```
如果server提供了etag和Last-Modified头部, 客户端在条件性缓存请求中应该带上这两个头部, 这可以让遵循http1.0和http1.1的server正确回应.
当然server只能在etag和Last-Modified一致返回无更改时, 才可以返回304.

Reference:
[RFC 2616 section 13.3.4](http://www.ietf.org/rfc/rfc2616.txt) 
[Increasing Application Performance with HTTP Cache Headers](https://devcenter.heroku.com/articles/increasing-application-performance-with-http-cache-headers#conditional-requests)